<!DOCTYPE html>
<html>
  <title>CampuSale</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <style>
    .details{
    width: 92%;
    height:85%;
    /*padding: 20%;*/
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom:8%;
    }
    .details p{
    margin-left:3%;
    margin-top:3%;
    font-family:arial;
    }
  </style>
  <!-- Navbar (sit on top)-->
  <div class="w3-top">
    <div tabindex="1" class="control">
      <div class="btn"></div><i class="icon-search ion-search"></i>
    </div><i class="icon-close ion-ios-close-empty"></i>
    <div class="form">
      <input placeholder="Start Typing" type="text" class="input-search">
    </div>
    <ul class="w3-black nav">
      <li class="navLink"><a href="/listing"><img src="images/logo.png" alt="logo"><span id="name">CAMPUSALE</span></a></li>
      <li style="float:right" class="dropdown"><a href="#" class="dropbtn">Username<img id="dropdown" src="images/drop_down.png" alt="v"></a>
        <div class="dropdown-content"><a href="/profile">Profile</a><a href="/sell">Sell</a><a href="/settings">Settings</a><a href="/logout">Logout</a></div>
      </li>
    </ul>
  </div>
  <body id="sellingPage"></body>
  <!-- Listing Details-->
  <div class="listing">
    <p>Listing Details</p>
  </div>
  <!-- Photos-->
  <div class="photos">
    <p>PHOTOS</p>
  </div>
  <!-- Details-->
  <div class="details">
    <h4 class="header">Change Password</h4>
    <div id="form">
      <form action="" method="post" name="registration" class="register">
        <fieldset>
          
          <div class="form-group">
            <label for="oldpassword">Old Password:</label>
            <input name="oldpassword">
          </div>
          <div class="form-group">
            <label for="newpassword">New Password:</label>
            <input name="newpassword">
          </div>
          <div class="form-group">
            <label for="confirmpassword">Confirm Password:</label>
            <input name="confirmpassword">
          </div>
            <input type="submit" name="Upload" value="Change Password">
          </form>
        </fieldset>
      </form>
    </div>
    <div class="title"></div>
  </div>
  <!-- Footer-->
  <footer class="footer w3-center">
    <div id="copyright">
      <p> © CampuSale Inc. 2016</p>
    </div>
    <div class="social_media">
      <div id="facebook"><img src="images/facebook.png" alt="facebook"></div>
      <div id="twitter"><img src="images/Twitter.png" alt="twitter"></div>
      <div id="linkedin"><img src="images/linkedin.png" alt="linkedin"></div>
    </div>
    <div id="top"><a href="#sellingPage" class="smoothScroll">
        <input type="image" src="images/top-button.png" name="top"></a></div>
  </footer>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script>
    // Change style of navbar on scroll
    window.onscroll = function() {myFunction()};
    function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
    navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-red";
    } else {
    //navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-red", "");
    navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-black";
    }
    }
    /*Search Function*/
    $('.control').click(function () {
    $('body').addClass('mode-search');
    $('.input-search').focus();
    });
    $('.icon-close').click(function () {
    $('body').removeClass('mode-search');
    });
  </script>
</html>