doctype html
html#index
  head
    title CampSale
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/w3.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='javascripts/smoothscroll.js')
    script(type='text/javascript', src='javascripts/login.js')
    script(type='text/javascript', src='javascripts/signup.js')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Alegreya', rel='stylesheet')
    // <script src="script.js"></script>
  body
    // Login Overlay
    #id01.modal
      form.modal-content.animate(action='/login', method='POST')
        .imgcontainer
          span.close(onclick="document.getElementById('id01').style.display='none'", title='Close Modal') ×
        .container
          label
            b Nom d'utilisateur
          input#uname(type='text', placeholder='uname@plattsburgh.edu', name='uname', required='')
          label
            b Mot de passe
          input#psw(type='password', placeholder='Entrer le mot de passe', name='psw', required='')
          button#loginButton(type='button', onclick='login()') S'identifier
          input(type='checkbox', checked='checked')
          |  Souviens-toi de moi
        .container(style='background-color:#f1f1f1')
          button.cancelbtn(type='button', onclick="document.getElementById('id01').style.display='none'") Annuler

          span.psw
            | Oublié 
            a(href='#') mot de passe?
    // Login Overlay Ending
    // Signup Overlay
    #id02.modal
      form.modal-content.animate(action='#')
        .imgcontainer
          span.close(onclick="document.getElementById('id02').style.display='none'", title='Close Modal') ×
        .container
          h1.w3-center  Bienvenue Cardinals!
          input#signup1(type='text', placeholder='Prénom', name='fname', style='width:49%;', required='')
          input#signup2(type='text', placeholder='Nom de famille', name='lname', style='width:49%;', required='')
          input#signup3(type='text', placeholder='Numéro de téléphone', name='phone', style='width:49%;', required='')
          input#signup4(type='text', placeholder='Code postal', name='zip', style='width:49%;', required='')
          input#signup5(type='text', placeholder='uname@plattsburgh.edu', name='email', style='width:99%;', required='')
          input#signup6(type='password', placeholder='Mot de passe', name='pass', style='width:99%;', required='')
          input#signup7(type='password', placeholder='Confirmez le mot de passe', name='confirm_pass', style='width:99%;', required='')
          button#signupButton(type='button', onclick='signup()') S'inscrire
        .container(style='background-color:#f1f1f1')
          button.cancelbtn(type='button', onclick="document.getElementById('id02').style.display='none'") Annuler
    // Signup Overlay Ending
    // Navbar (sit on top)
    .w3-top
      ul#myNavbar.w3-navbar.w3-black
        section
          li#campusaleLink(style='float:left')
            a.w3-padding-large.smoothScroll(href='#home') CAMPUSALE
          li#contactUsLink(style='float:right')
            a.w3-padding-large.smoothScroll(href='#contactUs') Contactez nous
          li(style='float:right')
            a.w3-padding-large.smoothScroll(href='#OurTeam') Sur
          li(style='float:right')
            a.w3-padding-large.smoothScroll(href='#howItWorks') Apprendre encore plus
    // First Parallax Image
    #home.bgimg-1.w3-opacity.w3-display-container
      #content.w3-display-middle(style='white-space:nowrap;')
        h1.title
          | campu
          span#S s
          | ale
        h4.message  une plate-forme de vente pour votre collège 
        nav.main-nav
          button.button.button1.semi-transparent-button(type='button', onclick="document.getElementById('id01').style.display='block'") S'identifier
          button#button2.button.button2.semi-transparent-button(type='button', onclick="document.getElementById('id02').style.display='block'") S'inscrire
      #more.w3-display-middle
        p#scrollText.w3-center  Faites défiler pour Plus
        a#scroll.smoothScroll(href='#howItWorks')
          img(src='images/downarrow.png', alt='V', width='40', height='20')
    // Container (How it works! Section)
    #Back1
      #howItWorks.w3-content.w3-container.w3-padding-64
        h3.header Comment cela fonctionne
        p.w3-center
          embed(src='videos/new_video.mp4', autostart='true', loop='true', height='338', width='600')
        p#text.w3-center Regardez cette vidéo pour plus d'informations. Il est facile, rapide et amusant!
    // Container (Our Team Section)
    #Back2
      #OurTeam.w3-content.w3-container.w3-padding-64
        h3.header Notre équipe
        #teamPhoto.w3-center
          img(src='images/teamPhoto.jpg', alt='team photo')
        // Hide this text on small devices
        .w3-col.m6.w3-hide-small.w3-section
          p
    // Modal for full size images on click
    #modal01.w3-modal.w3-black(onclick="this.style.display='none'")
      span.w3-closebtn.w3-hover-red.w3-text-white.w3-xxxlarge.w3-container.w3-display-topright ×
      .w3-modal-content.w3-animate-zoom.w3-center.w3-transparent.w3-padding-64
        img#img01(style='max-width:100%')
    // Container (Contact Section)
    #Back3
      #contactUs.w3-content.w3-container.w3-padding-64
        h3.header contact
        .w3-row.w3-padding-64
          .w3-col.m6.w3-margin-bottom
            img(src='images/birdFrench.png', style='width:57%; margin-bottom: 45px; margin-left: 50px;')
          .w3-col.m6(style='float:right')
            .w3-row-padding(style='margin:0 -16px 8px -16px')
              .w3-half
                input.w3-input.w3-border(type='text', placeholder='Prénom')
              .w3-half
                input.w3-input.w3-border(type='text', placeholder='Email')
            input.w3-input.w3-border(type='text', placeholder='Commentaire')
            button.w3-btn.w3-section.w3-right(style='padding-top: 15px; padding-bottom: 15px') ENVOYER
    // Footer
    footer.footer.w3-center
      #copyright
        p  © CampuSale Inc. 2016
      .social_media
        #facebook
          img(src='images/facebook.png', alt='facebook')
        #twitter
          img(src='images/Twitter.png', alt='twitter')
        #linkedin
          img(src='images/linkedin.png', alt='linkedin')
      #top
        a.smoothScroll(href='#home')
          input(type='image', src='images/top-buttonFrench.png', name='top')
    script.
      // Change style of navbar on scroll
      window.onscroll = function() {myFunction()};
      function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " red";
      } else {
      //navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-red", "");
      navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-black";
      }
      }
      // Get the modal
      var modal = document.getElementById('id01');
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
      if (event.target == modal) {
      modal.style.display = "none";
      }
      }
