doctype html
html
  title CampuSale
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(type='text/javascript', src='javascripts/listing.js')
  link(rel='stylesheet', href='stylesheets/w3.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
  body#listin_page
    // Navbar (sit on top)
    #id03.modal
      form.modal-content.animate(action='#', style='background-color:rgba(0,102,204,0.7);')
        .imgcontainer
          span.close(onclick="document.getElementById('id03').style.display='none'", title='Close Modal') ×
        .container
          h1.w3-center  Add an Item
          input#title(type='text', placeholder='Title', name='title', style='width:50%;', required='')
          input#price(type='text', placeholder='Price', name='price', style='width:49%;', required='')
          input#location(type='text', placeholder='Pick up location', name='location', style='width:99%;', required='')
          select#category(type='select', placeholder='Select a category', name='category', style='width:50%;', required='')
            option(value='category') Select a category
            option(value='men') Men
            option(value='women') Women
            option(value='appliances') Appliances
            option(value='electronics') Electronics
            option(value='games') Video Games
            option(value='movies') Movies and Music
          select#condition(type='select', placeholder='Choose Item Condition', name='condition', style='width:49%;', required='')
            option(value='condition') Choose Item Condition
            option(value='new') New
            option(value='likenew') Like New
            option(value='used') Used
            option(value='poor') Poor
          input#description(type='text', placeholder='Item Description', name='description', style='width:99%;', required='')
          button#addButton(type='button', onclick='add()') Add
    // Change Password Overlay
    #id04.modal
      form.modal-content.animate(action='#', style='background-color:rgba(0,102,204,0.7);')
        .imgcontainer
          span.close(onclick="document.getElementById('id04').style.display='none'", title='Close Modal') ×
        .passw_container(style='height:270px;')
          .detail
            #passw_form
              form.register(action='', method='post', name='registration')
                .password_container
                  h4.header(style='color:white;') Change Password
                  #form
                    form.register(action='', method='post', name='registration')
                      fieldset
                        .form-group
                          label.passwLabel(for='old', style='color:white;') Old Password:
                          input.passwInput(name='old', required='')
                        .form-group
                          label.passwLabel(for='new', style='color:white;') New Password:
                          input.passwInput(name='new', required='')
                        .form-group
                          label.passwLabel(for='confirm', style='color:white;') Confirm Password:
                          input.passwInput(name='confirm', required='')
                        input.passwInput(type='submit', name='Upload', value='Change Password')
    // Navbar (sit on top)
    #listingNav.w3-top
      .control(tabindex='1')
        .btn
        i.icon-search.ion-search
      i.icon-close.ion-ios-close-empty
      .form
        input.input-search(placeholder='Start Typing', type='text')
      ul.w3-black.nav
        li.navLink
          a(href='/')
            img(src='images/logo.png', alt='logo')
            span#name CAMPUSALE
        button#sell_span(onclick="document.getElementById('id03').style.display='block'")
        li.dropdown(style='float:right')
          a.dropbtn(href='#')
            img#dropdown(src='images/drop_down.png', alt='v')
          .dropdown-content
            a(href='/profile') Profile
            a(onclick="document.getElementById('id04').style.display='block'", href='#') Change Password
            a(onclick="logout_function()") Logout
    .menu
      #main
        .filter(style='background-color:lightgrey;')
          .sort_dropdown
            button.sort_dropbtn Sort
            .sort_dropdown-content
              a(href='#') Newest
              a(href='#', onclick='sortItems(1)') Price: Low to High
              a(href='#', onclick='sortItems(0)') Price: High to Low
          .category_dropdown
            button.category_dropbtn Category
            #Category.category_dropdown-content
              script.
                category();
                getItems();
          .price_dropdown
            button.price_dropbtn Price
            .price_dropdown-content
              a(href='#')
                #price_range
                  input#min(name='minprice', value='$0')
                  e(style='margin-left:15px') to
                  input#max(name='maxprice', value='$100')
      ul#id-items.rig.columns-4
        #items-list
    // Footer
    footer.footer.w3-center
      #copyright
        p  © CampuSale Inc. 2016
      .social_media
        #facebook
          img(src='images/facebook.png', alt='facebook')
        #twitter
          img(src='images/Twitter.png', alt='twitter')
        #linkedin
          img(src='images/linkedin.png', alt='linkedin')
      #top
        a.smoothScroll(href='#main')
          input(type='image', src='images/top-button.png', name='top')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script.
      // Change style of navbar on scroll
      window.onscroll = function() {myFunction()};
      function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-red";
      } else {
      //navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-red", "");
      navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-black";
      }
      }
      /*Search Function*/
      $('.control').click(function () {
      $('body').addClass('mode-search');
      $('.input-search').focus();
      });
      $('.icon-close').click(function () {
      $('body').removeClass('mode-search');
      });
      /*------------*/
      function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }
      function logout_function() {
      alert("You have successfully logged out, click OK to continue");
      var timer = setTimeout(function logout_function() {
      window.location='/#'
      }, 100);
      }
