doctype html
html
  title CampuSale
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
  body#listin_page
    // Navbar (sit on top)
    // Navbar (sit on top)
    .w3-top
      .control(tabindex='1')
        .btn
        i.icon-search.ion-search
      i.icon-close.ion-ios-close-empty
      .form
        input.input-search(placeholder='Start Typing', type='text')
      ul.w3-black.nav
        li.navLink
          a(href='/listing')
            img(src='images/logo.png', alt='logo')
            span#name CAMPUSALE
        li.dropdown(style='float:right')
          a.dropbtn(href='#')
            | Username
            img#dropdown(src='images/drop_down.png', alt='v')
          .dropdown-content
            a(href='/profile') Profile
            a(href='/selling') Sell
            a(href='/settings') Settings
            a(href='/logout') Logout
    .menu
      #main
        .filter(style='background-color:lightgrey;')
          .sort_dropdown
            button.sort_dropbtn Sort
            .sort_dropdown-content
              a(href='#') Newest
              a(href='#') Price: Low to High
              a(href='#') Price: High to Low
          .category_dropdown
            button.category_dropbtn Category
            .category_dropdown-content
              a(href='#') 1
              a(href='#') 2
              a(href='#') 3
          .price_dropdown
            button.price_dropbtn Price
            .price_dropdown-content
              a(href='#')
                #price_range
                  input#min(name='minprice', value='$0')
                  e(style='margin-left:15px') to
                  input#max(name='maxprice', value='$100')
      ul.rig.columns-4
        li
          img(src='images/img-1.jpg')
          h3 Image Title
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        li
          img(src='images/img-2.jpg')
          h3 Image Title
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        li
          img(src='images/img-3.jpg')
          h3 Image Title
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        li
          img(src='images/img-4.jpg')
          h3 Image Title
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        li
          img(src='images/img-5.jpg')
          h3 Image Title
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        li
          img(src='images/img-6.jpg')
          h3 Image Title
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
    // Footer
    footer.footer.w3-center
      #copyright
        p  © CampuSale Inc. 2016
      .social_media
        #facebook
          img(src='images/facebook.png', alt='facebook')
        #twitter
          img(src='images/Twitter.png', alt='twitter')
        #linkedin
          img(src='images/linkedin.png', alt='linkedin')
      #top
        a.smoothScroll(href='#home')
          input(type='image', src='images/top-button.png', name='top')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script.
      // Change style of navbar on scroll
      window.onscroll = function() {myFunction()};
      function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-red";
      } else {
      //navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-red", "");
      navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-black";
      }
      }
      /*Search Function*/
      $('.control').click(function () {
      $('body').addClass('mode-search');
      $('.input-search').focus();
      });
      $('.icon-close').click(function () {
      $('body').removeClass('mode-search');
      });
      /*------------*/
      function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }
