doctype html
html
  title CampuSale
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(type="text/javascript", src="javascripts/listing.js")
  link(rel='stylesheet', href='stylesheets/w3.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
  body#listin_page
    // Navbar (sit on top)
    #id03.modal
      form.modal-content.animate(action='#')
        .imgcontainer
          span.close(onclick="document.getElementById('id03').style.display='none'", title='Close Modal') ×
        .sell_container
          .details
            #sell_form
              form.register(action='', method='post', name='registration')
                fieldset
                  .form-group
                    label(for='category') Catégorie: 
                    select#catagory(name='Select a category')
                      option(value='select') Choisir une catégorie
                      option(value='men') Hommes
                      option(value='women') Femmes
                      option(value='appliances') Électroménager
                      option(value='electronics') Électronique
                      option(value='games') Jeux vidéo
                      option(value='movies') Films et Musique
                  .form-group
                    label(for='title') Titre:
                    input.sellInput(name='title')
                  .form-group
                    label(for='price') Prix:
                    input.sellInput(name='price')
                  .form-group
                    label(for='payment') Modalité de paiement: 
                    select#payment(name='Select payment type')
                      option(value='payment') Sélectionnez un type de paiement
                      option(value='cash') Argent liquide
                      option(value='women') Cardinal trésorerie
                      option(value='check') Vérifier
                      option(value='paypal') Paypal
                      option(value='mo') Mandat postal
                  .form-group
                    label(for='Condition') Etat de l'objet: 
                    select#condition(name='condition')
                      option(value='condition') Choisissez un objet état
                      option(value='new') Nouveau
                      option(value='likenew') Comme neuf
                      option(value='used') Utilisé
                      option(value='poor') Pauvre
                  .form-group
                    label(for='location') Lieu de ramassage:
                    input.sellInput(name='location')
                  .form-group
                    label(for='Description') La description:
                    input.sellInput(name='Description', type='Description')
                  form(action='/users/image', method='POST')
                    input.sellInput(type='file', name='file', value='')
                  form
                    input.sellInput(type='submit', name='Upload', value='ajouter')
    // Navbar (sit on top)
    .w3-top#listingNav
      .control(tabindex='1')
        .btn
        i.icon-search.ion-search
      i.icon-close.ion-ios-close-empty
      .form
        input.input-search(placeholder='Commencer à écrire', type='text')
      ul.w3-black.nav
        li.navLink
          a(href='/listing')
            img(src='images/logo.png', alt='logo')
            span#name CAMPUSALE
        span(style='float:right; cursor:pointer; margin-top:20px;', onclick="document.getElementById('id03').style.display='block'") Vendre
        li.dropdown(style='float:right')
          a.dropbtn(href='#')
            | Nom d'utilisateur
            img#dropdown(src='images/drop_down.png', alt='v')
          .dropdown-content
            a(href='/profile') Profil
            a(href='/selling') Vendre
            a(href='/settings') Paramètres
            a(href='/logout') Se déconnecter
          
    .menu
      #main
        .filter(style='background-color:lightgrey;')
          .sort_dropdown
            button.sort_dropbtn Trier
            .sort_dropdown-content
              a(href='#') Date
              a(href='#') Prix: bas au plus élevé
              a(href='#') Prix: par ordre décroissant
          .category_dropdown
            button.category_dropbtn Catégorie
            #Category.category_dropdown-content
              script.
               category()
          .price_dropdown
            button.price_dropbtn Prix
            .price_dropdown-content
              a(href='#')
                #price_range
                  input#min(name='minprice', value='$0')
                  e(style='margin-left:15px') to
                  input#max(name='maxprice', value='$100')
      ul.rig.columns-4
        li
          img(src='images/img-1.jpg')
          h3 Titre de l'image
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        li
          img(src='images/img-2.jpg')
          h3 Titre de l'image
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        li
          img(src='images/img-3.jpg')
          h3 Titre de l'image
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        li
          img(src='images/img-4.jpg')
          h3 Titre de l'image
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        li
          img(src='images/img-5.jpg')
          h3 Titre de l'image
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        li
          img(src='images/img-6.jpg')
          h3 Titre de l'image
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
    // Footer
    footer.footer.w3-center
      #copyright
        p  © CampuSale Inc. 2016
      .social_media
        #facebook
          img(src='images/facebook.png', alt='facebook')
        #twitter
          img(src='images/Twitter.png', alt='twitter')
        #linkedin
          img(src='images/linkedin.png', alt='linkedin')
      #top
        a.smoothScroll(href='#listingNav')
          input(type='image', src='images/top-buttonFrench.png', name='top')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script.
      // Change style of navbar on scroll
      window.onscroll = function() {myFunction()};
      function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-red";
      } else {
      //navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-red", "");
      navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-black";
      }
      }
      /*Search Function*/
      $('.control').click(function () {
      $('body').addClass('mode-search');
      $('.input-search').focus();
      });
      $('.icon-close').click(function () {
      $('body').removeClass('mode-search');
      });
      /*------------*/
      function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }
