doctype html
html
  title CampuSale
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(type='text/javascript', src='javascripts/smoothscroll.js')
  script(type='text/javascript', src='javascripts/login.js')
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
  
  body#logoutPage
    // Login Overlay
    #id01.modal
      form.modal-content.animate(action='/login', method='POST')
        .imgcontainer
          span.close(onclick="document.getElementById('id01').style.display='none'", title='Close Modal') ×
        .container#loginContainer
          label.loginLabel
            b Username
          div.clear
          input#uname(type='text', placeholder='uname@plattsburgh.edu', name='uname', required='')
          label.loginLabel
            b Password
          div.clear
          input#psw(type='password', placeholder='Enter Password', name='psw', onkeypress="changeLoginText()", required='')
          button#loginButton2(type='button', onclick='login()') Login
          div#checkboxContainer
            input(type='checkbox', checked='checked')
            |  Remember me
          div.psw
            | Forgot 
            a(href='#') password?

    // Login Overlay Ending
  // Navbar (sit on top)
  .w3-top
    ul.w3-black.nav
      li.navLink
        a(href='/listing')
          img(src='images/logo.png', alt='logo')
          span#name CAMPUSALE
      button#loginButton.button.button1.semi-transparent-button(type='button', onclick="document.getElementById('id01').style.display='block'") Login
      li(style='float:right')
        a.dropbtn(style='padding-bottom: 21px')(href='#') Login
        

  // Details
  .details
    h3.header#logoutMessage You have successfully logged out, login to continue
  // Footer
  footer.footer.w3-center
    #copyright
      p  © CampuSale Inc. 2016
    .social_media
      #facebook
        img(src='images/facebook.png', alt='facebook')
      #twitter
        img(src='images/Twitter.png', alt='twitter')
      #linkedin
        img(src='images/linkedin.png', alt='linkedin')
    #top
      a.smoothScroll(href='#logoutPage')
        input(type='image', src='images/top-button.png', name='top')
  script(src='http://code.jquery.com/jquery-1.11.2.min.js')
  script.
    // Change style of navbar on scroll
    window.onscroll = function() {myFunction()};
    function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
    navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-red";
    } else {
    //navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-red", "");
    navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-black";
    }
    }
    /*Search Function*/
    $('.control').click(function () {
    $('body').addClass('mode-search');
    $('.input-search').focus();
    });
    $('.icon-close').click(function () {
    $('body').removeClass('mode-search');
    });

