doctype html
html
  title CampuSale
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
  // Navbar (sit on top)
  .w3-top
    ul.w3-black.nav
      li.navLink
        a(href='/listing')
          img(src='images/logo.png', alt='logo')
          span#name CAMPUSALE
      li(style='float:right')
        a.dropbtn(style='padding-bottom: 21px')(href='#') Login
  body#logoutPage
  // Details
  .details
    h3.header#logoutMessage You have successfully logged out, login to continue
  // Footer
  footer.footer.w3-center
    #copyright
      p  © CampuSale Inc. 2016
    .social_media
      #facebook
        img(src='images/facebook.png', alt='facebook')
      #twitter
        img(src='images/Twitter.png', alt='twitter')
      #linkedin
        img(src='images/linkedin.png', alt='linkedin')
    #top
      a.smoothScroll(href='#logoutPage')
        input(type='image', src='images/top-button.png', name='top')
  script(src='http://code.jquery.com/jquery-1.11.2.min.js')
  script.
    // Change style of navbar on scroll
    window.onscroll = function() {myFunction()};
    function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
    navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-red";
    } else {
    //navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-red", "");
    navbar.className = "w3-navbar" + " w3-card-2" + " w3-animate-top" + " w3-black";
    }
    }
    /*Search Function*/
    $('.control').click(function () {
    $('body').addClass('mode-search');
    $('.input-search').focus();
    });
    $('.icon-close').click(function () {
    $('body').removeClass('mode-search');
    });

