<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel='stylesheet' href='http://www.w3schools.com/lib/w3.css'/>
	<link rel='stylesheet' type='text/css' href='style.css'/>
	
	<title> Profile - CampuSales </title>
</head>

<body>
	
	<ul class="w3-navbar w3-black">
		<li><a href="index.jade"><img src="images/logo.png" alt="logo">CAMPUSALES</a></li>
		<li class="dropdown" style="float:right">
			<a href="#" class="dropbtn">Username</a>
			<div class="dropdown-content">
				<a href="#">Profile</a>
				<a href="#">Settings</a>
				<a href="#">Logout</a>
			</div>
		</li>
	</ul>
	
	<div class="w3-display-middle">
		<div class="content">
			<img src="images/profile.png" alt="profilePic" width="200" height="200"/>
			<img src="images/rating.png" alt="rating"/>
		</div>
	</div>
	
	
	
	
</body>

</html>
	