doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/profileStyle.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='javascripts/smoothscroll.js')
    title  Profile - CampuSale 
  body
    .profile
      // ---START OF PROFILE PAGE---
      #profileNav
        // ---START OF NAV---
        ul.w3-navbar.w3-black
          li
            a(href='/')
              img(src='images/logo.png', alt='logo')
              | CAMPUSALE
          li.dropdown(style='float:right')
            a.dropbtn(href='#')
              | Username
              img#dropdown(src='images/drop_down.png', alt='v')
            .dropdown-content
              a(href='#') Profile
              a(href='#') Sell
              a(href='#') Settings
              a(href='#') Logout
      // ---END OF NAV---
      .head-container.w3-display-middle
        // ---START OF USER INFO---
        .top-content
          img(src='images/profile.png', alt='profilePic', width='200', height='200')
          .user-details
            .user-name
              h2
                | Marie H.
                // <%=first name %> <% last name initial. %>
              h5
                | @mhilp001
                // <%= username %>
            p Personal Message box
          div
            img#rating(src='images/rating.png', alt='rating')
        .body-content
          // ---START OF LISTINGS---
          .closet-tabs
            li
              a.active(href='profile/<%username%>')
                span
                  u
                    // <%num active items%>
                    | Items for Sale
            li
              a.inactive(href='profile/<%username%>')
                span
                  u
                    // <%num active items%>
                    | Items Sold
          .closet-items
            // Add existing code from listings page here when it is completed.
        // ---END OF LISTINGS---
      // ---END OF USER INFO---
    // ---END OF PROFILE PAGE---
