extends layout

block content
  h1= title
  p Welcome to #{title}

  script(type='text/javascript', src='javascripts/usersTest.js')
  body
    form(action='/users', method='post', id='form')
      | First name:
      input(type='text', id='fname' name='fname')
      br
      | Last name:
      input(type='password', id='lname' name='lname')
      br
      input(type='button', value='Submit' onclick="loginform()")


    form(action='/users/image', method='POST')
      input(type='file', name='file' value="")
      input(type='submit', name='Upload' value="Upload")
      
    input#file.inputfile(type='file', name='file', data-multiple-caption='{count} files selected', multiple='')
    
    
    
var inputs = document.querySelectorAll( '.inputfile' );
Array.prototype.forEach.call( inputs, function( input )
{
        var label	 = input.nextElementSibling,
                labelVal = label.innerHTML;

        input.addEventListener( 'change', function( e )
        {
                var fileName = '';
                if( this.files && this.files.length > 1 )
                        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
                else
                        fileName = e.target.value.split( '\\' ).pop();

                if( fileName )
                        label.querySelector( 'span' ).innerHTML = fileName;
                else
            label.innerHTML = labelVal;
      });
});
