style.
  body,h1,h2,h4,h5,h6 {font-family: 'Open Sans Condensed', sans-serif;}
  p {
  font-family: 'Alegreya', serif;
  }  
  h3.header {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 48px;
  text-align: center;
  font-variant: small-caps;
  padding-bottom: 25px;
  }
  li a {
  font-family: 'Alegreya', serif;
  font-size: 18px;
  }
  body, html {
  position:relative;
  height: 100%;
  color: black;
  line-height: 0.8;
  }
  /* Create a Parallax Effect */
  .bgimg-1, .bgimg-2, .bgimg-3 {
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  /* First image (Logo. Full height) */
  .bgimg-1 {
  background-image: url('../images/img1.jpg');
  min-height: 100%;
  }
  /* Second image (How it works!) */
  .bgimg-2 {
  background-image: url("../images/img2.jpg");
  min-height: 250px;
  }
  /* Third image (Contact) */
  .bgimg-3 {
  background-image: url("../images/img3.jpg");
  min-height: 250px;
  }
  .w3-wide {letter-spacing: 10px;}
  .w3-hover-opacity {cursor: pointer;}
  /* Turn off parallax scrolling for tablets and mobiles */
  @media only screen and (max-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: scroll;
  }
  }
  .button {
  border: none;
  color: black;
  padding-top: 15px;
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-family: 'Alegreya', serif;
  /*font-variant: small-caps;*/
  /*margin: 4px 2px*/
  margin: auto;
  width: 30%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  margin-top:50px;
  /*margin-left: 10px;*/
  background-color: grey;
  color: black;
  border: 2px solid #555555;
  margin-left: 50px;
  opacity: 0.5;
  }
  .button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: red;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  }
  .button:hover, .button:focus, .button:active {
  color: white;
  }
  .button:hover:before, .button:focus:before, .button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  }
  #button2
  {
  margin: auto;
  width: 30%;
  margin-top:50px;
  margin-left:50px;
  font-size: 25px;
  /*font-variant: small-caps;*/
  }

  /*Semi-Transparent buttons*/
  .semi-transparent-button {
	  background: #fff;
	  background: rgba(128, 128, 128, 0.5);
	  border-radius: 8px;
	  color: #000000;
	  transition: all 0.3s ease-out;
  }
  #myNavbar li
  {
  float:right;
  }
  /*Centering login sigup buttons*/
  .main-nav {
   margin: auto;
   width: 100%;
  }
  /*How it works background*/
  #howItWorks {
  height: 660px;
  background-color: #d7d7d7;
  padding-right: 0px;
  padding-left: 0px;
  }
  /*Our Team background*/
  #OurTeam {
  height: 660px;
  background-color: #898989;
  padding-right: 0px;
  padding-left: 0px;
  }
  /*Contact background*/
  #contactUs {
  height: 530px;
  background-color: #464646;
  padding-right: 0px;
  padding-left: 0px;
  }
  /*Logo text formating*/
  h1.title {
  text-align: center;
  font-family: 'Alegreya', serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 85px;
  padding-bottom: 10px;
  }
  h4.message {
  padding-top: 15px;
  text-align: center;
  font-variant: small-caps;
  font-size: 42px;
  font-family: 'Open Sans Condensed', sans-serif;
  }
  h1.title #S {
  color: red;
  }
  /*Postioning nav links*/
  li#campusaleLink {
  padding-left: 20px;
  }
  li#contactUsLink {
  padding-right: 20px;
  }
  /*Adjust content headers*/
  h3.contentHeader {
  padding-bottom: 40px;
  }
  #scrollText {
	color: rgb(128,128,128);
	padding-top: 80px;
	padding-bottom: 15px;
  }
  #scroll {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
  }
  /*Fix baxkground color of sections*/
  #Back1 {
  background-color: #d7d7d7;
  }
  #Back2 {
  background-color: #898989;
  }
  #Back3 {
  background-color: #464646;
  }
  #banner {
  }
  /*Social Media*/
  .center {
  margin:auto;
  width: 100%;
  }
  .social_media {
  display: inline-block;
  margin: auto;
  margin-right: 84px;
  }
  #facebook {
  display: inline-block;
  padding: 0px 8px;
  }
  #twitter {
  display: inline-block;
  padding: 0px 8px;
  }
  #linkedin {
  display: inline-block;  
  padding: 0px 8px;
  }
  /*footer formating*/
  footer.footer {
  background-color: #000000;
  padding: 20px;
  bottom: 0px;
  }
  #copyright {
  color: #898989;
  float: left;
  padding-left: 5px;
  }
  #top {
  display:inline-block;
  float: right;
  padding-right: 5px;
  }
  /* The Login Overlay*/
  input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }
  /* Set a style for all buttons */
  button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  }
  /* Extra styles for the cancel button */
  .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  }
  /* Center the image and position the close button */
  .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  }
  .container {
  padding: 16px;
  }
  span.psw {
  float: right;
  padding-top: 16px;
  }
  /* The Modal (background) */
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  }
  /* Modal Content/Box */
  .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  }
  /* The Close Button (x) */
  .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  }
  .close:hover,
  .close:focus {
  color: red;
  cursor: pointer;
  }
  /* Add Zoom Animation */
  .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
  }
  @-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
  }
  @keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
  span.psw {
  display: block;
  float: none;
  }
  .cancelbtn {
  width: 100%;
  }
  }
  #id02 .container h1{
  color:red;
  margin-bottom:15px;
  }
  /* LISTING PAGE */
  #listing_page{
  background-color:white;
  }
  /*Header*/
  #logo{
  float:left;
  height:50px;
  }

  /*Header Search box */

  html,
.mode-search .form,
.mode-search .icon-close {
  opacity: 1;
  transform: none;
  pointer-events: all;
}

body.mode-search .control .icon-search { 
	opacity: 0; 
}

body.mode-search .control .btn { 
	transform: scale(70); 
}


.control {
  	position: absolute;
  	right: 50%;
  	cursor: pointer;
}

.control .icon-search,
.control .icon-close { 
	transition: 0.2s ease-in-out; 
}

.control:hover .btn { 
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
}

/* Button */

.btn {
  	width: 44px;
  	height: 44px;
  	border-radius: 100%;
  	box-sizing: border-box;
  	padding: 20px;
  	background: #e91e63;
  	outline: 0;
  	transform-origin: 50%;
  	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  	transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-search {
  	position: absolute;
	top: 11px;
	left: 13px;
	font-size: 25px;
}

.icon-close {
	
  	position: fixed;
  	top: 30px;
  	right: 30px;
  	color: #FFF;
  	font-size: 80px;
  	opacity: 0;
  	transform: translate(10px, 0) rotate(90deg);
  	transition: all 0.3s ease-in-out;
}

.form {
	
  	height: 80px;
	margin-top:10%;
	margin-left:10%;
  	position: absolute;
  	pointer-events: none;
  	opacity: 0;
  	transform: translate(40px, 0);
  	transition: all 0.3s ease-in-out;
}

.form input {
	
  	color: #fff;
  	font-size: 54px;
  	border: 0;
  	background: transparent;
  	-webkit-appearance: none;
  	box-sizing: border-box;
  	outline: 0;
  	font-weight: 200;
}
.form ::-webkit-input-placeholder {
	
 	color: #EEE;
}
.form :-moz-placeholder {
 	color: #EEE;
 	opacity: 1;
}
.form ::-moz-placeholder {
 	color: #EEE;
 	opacity: 1;
}
.form :-ms-input-placeholder {
 	color: #EEE;
}

  /* End */
  .menu {
  width: 100%;
  margin-top:5%;
  }
  /* Product Grid */
  ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: -0.5%; /* should match li left margin */
  margin-top:3%;
  }
  ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  }
  ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
  }
  ul.rig li h3 {
  margin: 0 0 5px;
  }
  ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
  }
  /* class for 4 columns */
  ul.rig.columns-4 li {
  width: 28%; /* this value + 2.5 should = 25% */
  }
  @media (max-width: 480px) {
  ul.grid-nav li {
  display: block;
  margin: 0 0 5px;
  }
  ul.grid-nav li a {
  display: block;
  }
  ul.rig {
  margin-left: 0;
  }
  ul.rig li {
  width: 100% !important; /* over-ride all li styles */
  margin: 0 0 20px;
  }
  }
  /* Grid END */
  /*Filter Nav */
  .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  }
  .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
  }
  .sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
  }
  .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  }
  #main {
  transition: margin-left .5s;
  padding: 16px;
  }
  @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }


/* Item Page */

.container_item{
	width:100%;
	height:100%;
	margin-top:0%;
}

.product_image{
	border:0.1px solid lightgrey;
	width:460px;
	height:460px;
	margin-left:7%;
	margin-top:100px;
	position:absolute;
}

.product_info{
	border:0.1px solid lightgrey;
	width:460px;
	height:460px;
	float:right;
	margin-right:7%;
	margin-top:100px;
}

hr{
	margin-top:30%;
}

#seller_text{
	margin-left:20%;
	margin-top:25px;
}
#condition_text{
	margin-top:25px;
}
#right{
	width:40%;
	height:50%;
}
#left{
	width:60%;
	height:50%;
}
#left_1{
	float:left;
	border:2px solid black;
	margin-top:25px;
	margin-left:5%;
	width:60%;
	height:20%;
}
#right_1{
	float:right;
	border:2px solid black;
	margin-top:25px;
	margin-right:5%;
	width:20%;
	height:20%;
}





